label {font-family: 'Open Sans', sans-serif;
  
  

  /* font-family: 'Kaushan Script', cursive; */
}
input{


    border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    background-color:lightgreen;
}
button{ 
  padding: right 5px;
position: relative;
    color:  grey;
    text-decoration: none;
     background-color:lightgreen; 
    /* font-family: 'Yanone Kaffeesatz'; */
     font-weight: 600; 
    /* font-size: 3em; */
    /* display: block; */
    padding: .05px;
    font-size: 20px;

   
     /* -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7); */
      /* box-shadow: 0px 9px 0px linear-gradient(white,black);    */
    /* margin: 100px auto; */
	/* width: 160px; */
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
#welcome{font-family: 'Open Sans', sans-serif;
}
  /* button{ 
   float: right; 
  margin: 0px 0% 0px 10%; 
};   */
/* input{float: right} */
.foodContainer{
    /* border-left: 0.5px solid grey;    */
 font-family: 'Open Sans', sans-serif;
  margin: 0px 0% 0px 3.4%;  
 font-size: 20px; 
 color: grey;
 
  /* background: linear-gradient(white,green); */
 /* color: white; */
   /* background: linear-gradient(white,black); */


}
 /* .bInput {float:right;} */
div div div div   {
  color :lightgreen;
  text-decoration: underline;
  
  /* border-bottom: 0.5px solid black ;width:200px; */
    /* background: linear-gradient(white,black); */
}

  /* button{ 
   float: right; 
  margin: 0px 0% 0px 10%; 
} */
  .bfastInput{float:center;} 
    button{ 
   float: right; 
  margin: 0px 0% 0px 0%; 
} 
.editButton{
  margin: 0px 0% 0px 20%; 
}
body, html {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 60px;
  font-weight: 600;
}

.instructions {
  font-family: 'Kaushan Script', cursive;
   background-color: #333333; 
  
  /* color: #DDDDDD; */
  color:lightgreen;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  /* font-family: 'Open Sans', sans-serif; */
   font-family: 'Kaushan Script', cursive;
   font-size: 20px;

   display: block; 
  /* color: white; */
  color: lightgreen;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  text-decoration: underline;
  /* color: #eee; */
  color: lightgreen;
}

   calebs css
@import "compass/css3";



body {
  /* font-family: 'Source Sans Pro', sans-serif; */
}


h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 3em;
  color:lightgreen;
}

h3 {
  margin-top: 0;
  font-weight: 300;
}

.container {
   width: 45em; 
  margin: 10px auto;
  color:white;
  
}



.ac-label {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  /* background-color: whiteSmoke; */
  /* background-color: lightgreen; */
  background: linear-gradient(lightgreen,green);
  transition: background-color .15s ease-in-out;

}


.ac-input:checked + label, .ac-label:hover {
   /* background-color: #999;  */
   background: linear-gradient(lightgreen,white)
 

}



.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #e5e5e5;
  transition: background-color .15s ease-in-out;
  
}

.ac-label:hover:after, .ac-input:checked + .ac-label:after {
  background-color: #b5b5b5;
}

.ac-input:checked + .ac-label:after {
  
  content: "-";
  
}

.ac-input {
  display: none;
}





.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
   /* border-bottom: 5px solid red;  */
  
 
}
 .ac-sub-text {

  color: black;
    /* border-top: 3px solid brown; */
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
  opacity: 1;
  height: auto;
}



.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: .5em 2em;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}


.ac-sub-text {
  padding: 0 1em 0 2em;
}  


/* Style the tab */
footer{
  position:fixed;bottom:0;
}
.tab {
text-align: center;
}
footer.tab {
    overflow: hidden;
    border: 1px solid #ccc;
   background-color: #333333;
    width: 100%;
    
       /* width: 45em;  */
  /* margin: 10px auto; */
}

/* Style the buttons inside the tab */
footer.tab button {
  
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #333333;
    font-family: 'Kaushan Script', cursive;
    float:left;
     /* display: block;  */
    
}

/* Change background color of buttons on hover */
footer.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
footer.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display:none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.card {
    /* Add shadows to create the "card" effect */
    display:inline-block; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 175px;
    overflow:hidden;
    z-index: -1;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: -1;
}

/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
    display:inline-block;
    z-index: -1;
}

.cardImage{
  filter: grayscale(50%);
  filter: blur(50%);
  z-index: -1;
  float: left;
  /* margin-right: 500px; */
   margin-left: 300px; 
}
#footerButtons{
  margin-left: 250px;
  z-index: 100;
}