<div class="ac-sub">
    <input class="ac-input" id="ac-2" name="ac-2" type="checkbox" />
    <label class="ac-label" for="ac-2">Breakfast</label>
    <article class="ac-sub-text">
         <div > 
              <p ng-repeat="meal in uc.meals.list">{{meal.breakfastfood}}<button>edit</button><button>delete</button></p>   
           <!-- <p>Tofu Scramble <button>EDIT</button> <button>Delete</button></p>
        <p>2 Oranges <button>EDIT</button> <button>Delete</button></p>
        <p>Toast <button>EDIT</button> <button>Delete</button></p> -->

        <p><input ng-model="uc.newMeal.breakfastfood" id="breakfastInput" type="text" placeholder="Whats For Breakfast?" /><button class="btn btn-primary" ng-click="uc.addMeal()">ADD!</button></p>

           </div>   
</article>
</div> 