<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <p id="welcome" class="lead">Welcome, {{uc.userObject.details.username}}!</p>

    {{uc.userObject.details}}

    <div ng-repeat="day in uc.userObject.details.days">{{day.dayofweek}}
        breakfast
        <ul>
            <li ng-repeat="food in day.breakfast">{{food}}</li>
             <li><input ng-model="userfood" id="Input" type="text" placeholder="Whats For {{foodtype.foodtype}}?" /><button class="btn btn-primary"
                ng-click="day.breakfast.push(userfood); uc.saveUserDays(uc.userObject.details.days)">ADD!</button></li> 
        <!-- <li><input ng-model="userfood" id="Input" type="text" placeholder="Whats For {{foodtype.foodtype}}?" /><button class="btn btn-primary"
                ng-click="day.breakfast.push(userfood); uc.findByIdAndUpdate()">ADD!</button></li> -->

      
        </ul>
        lunch
        <ul>
          
            <li ng-repeat="food in day.lunch">{{food}}</li>
        </ul>
        dinner
        <ul>

            <li ng-repeat="food in day.dinner">{{food}}</li>
        </ul>
    </div>

</div>
<p></p>