<div ng-include="'views/partials/nav.html'">
</div>
<footer class="tab" layout="row" layout-align="center">
   <div id="footerButtons"> <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Environment')">Environment</button>
    <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Nutrition')">About</button>
    <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Animals')">Animals</button>
    <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Myths')">Myths</button>
   </div>
</footer>

<div layout="row" layout-align="center" id="Environment" class="tabcontent">
    <h2>Environment</h2>
    <p>London is the capital city of England.</p>
</div>

<div layout="row" layout-align="center" id="Nutrition" class="tabcontent">
    <h2>Paris</h2>
    <p>Paris is the capital of France.</p>
</div>

<div layout="row" layout-align="center" id="Animals" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>

<div layout="row" layout-align="center" id="Myths" class="tabcontent">
    <h2>Nutrition Myths</h2>
    <div class="card">
        <img class="cardImage" src="../../assets/nature1.jpg" alt="Avatar" style="width:100%">
        <div class="cardContainer">
            <h4>
                
            </h4>
            
        </div>
    </div>
    <h3>Animal Myths</h3>
    <div class="card">
        <img class="cardImage" src="../../assets/nature2.jpg" alt="Avatar" style="width:100%">
        <div class="cardContainer">
            <h4>
                <b>John Doe</b>
            </h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <h3>Environment Myths</h3>
    <div class="card">
        <img class="cardImage" src="../../assets/nature3.jpg" alt="Avatar" style="width:100%">
        <div class="cardContainer">
            <h4>
                <b>John Doe</b>
            </h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
</div>





<!-- <h1>Nutrition Facts</h1>
<br>
<h1>Environmental Facts</h1>
<br>
<h1>Animal Facts</h1>
<br>
<h1>Vegan Myths</h1>
<br>
<h1>Meat and Dairy Myths</h1>
<br>
<h1>Resources</h1> -->